.form-control {
    margin: 20px;
    border: 1px solid #cacaca;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}

.btn {
    margin: 0 0 0 20px;
    background: #757474;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}